@font-face {
    font-family: kalameh;
    src: url('../fonts/KalamehWeb_Regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: kalameh;
    src: url('../fonts/KalamehWeb_Bold.woff2');
    font-weight: bold;
}


@font-face {
    font-family: yekan;
    src: url('../fonts/yekan_regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: yekan;
    src: url('../fonts/yekan_bold.woff');
    font-weight: bold;
}

$primary : #4031AD;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'yekan' !important;
}

.rtl {
    direction: rtl !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.theme-main-header .logo {
    margin-top: -20px;

    img {
        height: 60px;
    }
}

.d-none {
    display: none !important;
}

li {
    &.u-active {
        background-color: #36DB96;
    }

    &.u-home {
        padding-right: 30px;
        border-radius: 35px;
    }
}

.customers-need .shape-one.color-two {
    background: rgb(64, 49, 173);
    background: linear-gradient(270deg, rgba(64, 49, 173, 1) 20%, rgba(63, 49, 173, 0.808) 100%);
}


.theme-main-header.fixed {
    .logo img {
        height: 68px;
        padding-top: 18px;
    }
}

.bg-white {
    background-color: white !important;
}

.owl-item.active {
    transition: all 0.8s;
    opacity: 0.4;
    filter: blur(2px);
    transform: scale(0.8);
}

.owl-item.active.center {
    transition: all 0.8s;

    opacity: 1 !important;
    filter: blur(0);
    transform: scale(1);

}

@media (max-width: 992px) {
    .w-100-desk {
        width: 100% !important;
    }

    .logo {
        img {
            padding-top: 1.2rem;
            width: 60%;
        }
    }

    .theme-main-header.fixed {
        .logo img {
            height: 100%;
            padding-top: 18px;
        }
    }
}


#theme-main-banner .container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}



.our-features .single-feature p {
    font-family: 'yekan';
}

.btn-download {
    img {
        height: 58px;
        margin: 10px;
    }
}


.download-section .text-wrapper .image-wrapper-one {
    position: absolute;
    top: 0;
    z-index: 1;
    transform: rotate(0deg);
}
.text-center {
    p{
        text-align: center;
    }
}

#theme-main-banner {
    position: relative;
    height: 946px;
    margin-bottom: 20px;
}


#theme-main-banner.banner-three {
    margin-bottom: 48px;
}

.customers-need .text-wrapper ul li {
    position: relative;
    padding-left: 50px;
    
    &:first-child{
        margin-top: -10px;

    }
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.app-item{
    padding:55px;
    border-radius: 5px;
    cursor: pointer;
}